.chat
    width: calc( 100% - 60px )
    height: calc( 100% - 291px )
    overflow-y: scroll
    overflow-x: hidden
    padding: 30px
    display: flex
    flex-direction: column
    gap: 20px
    &::-webkit-scrollbar-track
        background: transparent
    &::-webkit-scrollbar-thumb
        background: #535AF1
        border-radius: 10px
    &::-webkit-scrollbar
        width: 5px
.edit-popup
    position: absolute
    top: 30px
    left: 30px
    width: 100%
    height: 100%