<div class="chat-con">
    <div class="chat-head">
        <div class="chat-heading" (click)="openEditChannel = true"><span>#</span>{{ groupName }}<div class="arrowimg">
            </div>
        </div>
        <div class="back" (click)="closeChat()">zurück</div>
        <div class="users-con"></div>
    </div>
    <div class="chat" #chatContainer>
        <div *ngFor="let group of messageGroups">
            <div class="date">
                <div class="date-label">{{ group.label }}</div>
            </div>
            <div *ngFor="let message of group.messages" class="message"
                [ngClass]="{'message-you': messageSendFrom(message.sender_id)}">

                <div class="avatar"><img src="{{ message.avatar }}" alt="avatar"></div>
                <div class="message-content" [ngClass]="{'message-content-you': messageSendFrom(message.sender_id)}">
                    <div class="name-time" [ngClass]="{'name-time-you': messageSendFrom(message.sender_id)}">
                        <div class="name" (click)="openUserProfile(message.sender_id)">{{ message.name }}</div>
                        <div class="time"> {{ message.time }}</div>
                    </div>
                    <div class="msg" [ngClass]="{'msg-you': messageSendFrom(message.sender_id)}">{{message.text}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="input-chat">
        <textarea type="text" placeholder="Nachricht an #{{ groupName }}" [(ngModel)]="message"></textarea>
        <div class="chat-icons">
            <div class="left-icons"></div>
            <div class="send-icon" (click)="sendMessage()"></div>
        </div>
    </div>
    <div class="edit-popup" *ngIf="openEditChannel">
        <app-edit-channel></app-edit-channel>
    </div>
</div>