.dabubble-con
    padding: 30px 30px 0 30px

    overflow: hidden !important

.header-con
    display: flex
    justify-content: space-between
    align-items: center

.logo-con
    display: flex
    align-items: center
    gap: 20px
    .logo
        width: 70px
        height: auto
    .logo-text
        font-size: 26px
        font-weight: 600

.profile-popup
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: 100%

.dabubble-content
    display: flex
    justify-content: space-between
    margin-top: 20px
    width: 100%
    .channels
        width: 300px
        margin-right: 80px
    .chat
        transition: all 1s ease
        flex-grow: 1
        flex-basis: 0%

    .secondary-chat
        width: 400px
        margin-left: 20px

.popup
    z-index: 1000 !important
    position: absolute
    width: 100vw
    height: 100vh

.minimize-channel-con
    transform: rotate(270deg)
    position: absolute
    left: -156px
    bottom: 240px
    background-color: #fff
    padding: 15px 20px 10px 20px
    border-radius: 0 0 30px 30px
    box-shadow: 0px 7px 7px 0px #00000020
    .text
        margin: 0
        font-size: 24px
    .con
        cursor: pointer
        display: flex
        align-items: center
        gap: 5px
        .img
            transform: rotate(90deg)
            width: 24px
            height: 24px
            background-image: url(/assets/images/minimize/isOut.png)
            background-repeat: no-repeat
            object-fit: contain
    .in
        padding: 20px 0 0 0
        .img
            background-image: url(/assets/images/minimize/isIn.png)
    &:hover
        .text
            color: #797ef3
            font-weight: 500
        .img
            background-image: url(/assets/images/minimize/isOut-hover.png) !important
        .in
            .img
                background-image: url(/assets/images/minimize/isIn-hover.png) !important
.mobile
    display: none !important
    .img
        width: 18px !important
        height: 18px !important
    .text
        font-size: 18px !important

@media ( max-width: 1300px )
    .chat
        width: calc( 100% - 380px ) !important
    .secondary-chat
        display: none

@media  ( max-width: 750px )
    .dabubble-content
        .channels
            position: absolute
            left: 0
            width: calc( 100% - 30px ) !important
        .chat
            width: 100vw !important
    .out, .in
        display: none !important
    .mobile
        display: flex !important
    .minimize-channel-con
        margin-top: 70px
        left: -110px
        padding: 0px 15px 5px 10px !important

@media  ( max-width: 485px )
    .popup
        position: relative
@media  ( max-width: 370px )
.logo-con
    gap: 10px
    .logo
        width: 50px
        height: auto
    .logo-text
        font-size: 23px
        font-weight: 600
