<div class="dabubble-con">
    <div class="popup" *ngIf="createChannelOpen">
        <app-create-channel-pop-up></app-create-channel-pop-up>
    </div>
    <div class="header-con">
        <div class="logo-con">
            <img class="logo" src="assets/images/login/logo.png" alt="logo">
            <div class="logo-text">DABubble</div>
        </div>
        <app-searchbar></app-searchbar>
        <app-profile (click)="profilePopUpOpen = !profilePopUpOpen"></app-profile>
    </div>
    <div class="dabubble-content">
        <div class="profile-popup" *ngIf="profilePopUpOpen" style="z-index: 2">
            <app-pop-up-menu></app-pop-up-menu>
        </div>
        <div class="profile-popup" *ngIf="usersProfilePopUpOpen" style="z-index: 2">
            <app-users-profile-pop-up></app-users-profile-pop-up>
        </div>
        <div class="channels" [ngStyle]="{'display': !channelActive ? 'none' : 'block'}">
            <app-chanel-menu class="channels"></app-chanel-menu>
        </div>
        <div class="chat" [ngStyle]="{'display': !chatActive ? 'none' : 'block'}">
            <app-chat *ngIf="groupChat"></app-chat>
            <app-privatechat *ngIf="!groupChat"></app-privatechat>
        </div>
        <div class="secondary-chat" *ngIf="threadActive && groupChat">
            <app-secondary-chat></app-secondary-chat>
        </div>
    </div>
    <div class="minimize-channel-con">
        <div class="con out" (click)="channelActive = false;" *ngIf="channelActive">
            <div class="text">Workspace-Menü schließen</div>
            <div class="img"></div>
        </div>
        <div class="con in" (click)="channelActive = true;" *ngIf="!channelActive">
            <div class="text">Workspace-Menü öffnen</div>
            <div class="img"></div>
        </div>
        <div class="con mobile" (click)="openChat()" *ngIf="!channelActive">
            <div class="text">Workspace-Menü öffnen</div>
            <div class="img"></div>
        </div>
    </div>
</div>


