<div class="dabubble-con">
    <div class="popup" *ngIf="createChannelOpen">
        <app-create-channel-pop-up></app-create-channel-pop-up>
    </div>
    <div class="header-con">
        <div class="logo-con">
            <img class="logo" src="assets/images/login/logo.png" alt="logo">
            <div class="logo-text">DABubble</div>
        </div>
        <app-searchbar></app-searchbar>
        <app-profile (click)="profilePopUpOpen = !profilePopUpOpen"></app-profile>
    </div>
    <div class="dabubble-content">
        <div class="profile-popup" *ngIf="profilePopUpOpen">
            <app-pop-up-menu></app-pop-up-menu>
        </div>
        <div class="channels">
            <app-chanel-menu class="channels"></app-chanel-menu>
        </div>
    </div>
</div>


