.searchbar
    position: relative
    display: flex
    align-items: center
    width: 50vw
    img
        position: absolute
        right: 15px
    input
        font-size: 22px
        height: 20px
        padding: 15px 20px
        width: 100%
        border: 0
        border-radius: 100px
        &:focus
            outline-color: #797ef3