.searchbar
    position: relative
    display: flex
    align-items: center
    width: calc( 100vw - 860px )
    margin-left: -25px
    img
        position: absolute
        right: 15px
    input
        font-size: 22px
        height: 20px
        padding: 15px 20px
        width: 100%
        border: 0
        border-radius: 100px
        &:focus
            outline-color: #797ef3

@media  ( max-width: 1200px )
    .searchbar
        display: none
