.searchbar
    position: relative
    display: flex
    align-items: center
    width: calc( 100vw - 860px )
    img
        position: absolute
        right: 15px
    input
        font-size: 22px
        height: 20px
        padding: 15px 20px
        width: 100%
        border: 0
        border-radius: 100px
        &:focus
            outline-color: #797ef3

.search-con
    background: #fff
    border: 2px solid #797ef3
    border-radius: 30px
    margin-top: 20px
    font-size: 22px
    position: absolute
    width: calc( 100% - 40px )
    padding: 20px
    z-index: 2

.search
    padding: 5px 20px
    border-radius: 20px
    cursor: pointer
    &:hover
        background-color: #ECEEFE


@media  ( max-width: 1200px )
    .searchbar
        width: 100%
        input
            padding: 10px 15px
            outline: 1px solid
            outline-color: #ADB0D9
            font-size: 18px !important
        img
            width: 20px