<div class="login-card-con">
    <div class="heading">Anmeldung</div>
    <div class="text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</div>
    <div class="formgroup">
        <div class="input-con"><img class="mailimg" src="assets/images/login/mail.png" alt="mail"><input type="text" placeholder="beispielname@email.com"></div>
        <div class="error-input">Diese E-Mail-Adresse ist leider ungültig.</div>
    </div>
    <div class="formgroup">
        <div class="input-con"><img class="lockimg" src="assets/images/login/lock.png" alt="passsword"><input type="password" placeholder="Passwort"></div>
        <div class="error-input">Falsches Passwort. Bitte noch einmal versuchen.</div>
    </div>
</div>
