<div class="login-card-con">
    <div class="backbutton"><a (click)="closepasswordcard()"><img class="backbuttonIMG"
                src="assets/images/arrow_back.png" alt="back"></a></div>
    <div class="heading">Passwort zurücksetzen</div>
    <div class="text">Bitte geben Sie Ihre E-Mail-Adresse ein.</div>
    <form #passwordResetForm="ngForm" (ngSubmit)="userPasswordReset()">
        <div class="formgroup">
            <div class="input-con">
                <img class="mailimg" src="assets/images/login/mail.png" alt="mail">
                <input type="email" placeholder="beispielname@email.com" required email [(ngModel)]="userEmail"
                    name="email" #email="ngModel">
                <div class="error-input" *ngIf="email.invalid && (email.dirty || email.touched)">
                    Diese E-Mail-Adresse ist leider ungültig.
                </div>
            </div>
        </div>
        <div class="text gray">Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.</div>
        <div class="login-button-con">
            <button type="submit" class="login" [disabled]="!passwordResetForm.valid">E-Mail Senden</button>
        </div>
    </form>
</div>