<div class="login-card-con">
    <div class="heading">Anmeldung</div>
    <div class="text">Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</div>
    <form (ngSubmit)="userLogin()" #loginForm="ngForm">
        <div class="formgroup">
            <div class="error-input user-error" *ngIf="loginError">
                Die E-Mail-Adresse und das Passwort stimmen nicht überein.
            </div>
            <div class="input-con">
                <img class="mailimg" src="assets/images/login/mail.png" alt="mail">
                <input type="email" placeholder="beispielname@email.com" 
                required email [(ngModel)]="userEmail" name="email" #email="ngModel">
            </div>
            <div class="error-input" *ngIf="email.invalid && (email.dirty || email.touched) || emailerror ">
                Diese E-Mail-Adresse ist leider ungültig.
            </div>
        </div>
        <div class="formgroup">
            <div class="input-con">
                <img class="lockimg" src="assets/images/login/lock.png" alt="password">
                <input type="password" placeholder="Passwort" required [(ngModel)]="userPassword" name="password" #password="ngModel">
            </div>
            <div class="error-input" *ngIf="password.invalid && (password.dirty || password.touched)">
                Falsches Passwort. Bitte noch einmal versuchen.
            </div>
        </div>
        <div class="password-forgot-con"><a class="password-forgot" (click)="passwordresetopen()">Passwort vergessen?</a></div>
        <div class="vector">
            <p>Oder</p>
        </div>
        <a class="google-login-con" (click)="googleLogin()"><img src="assets/images/login/google.png" alt="">Anmelden mit Google</a>
        <div class="login-button-con">
            <button type="submit" class="login" [disabled]="!loginForm.valid">Login</button>
            <button type="button" class="guest">Gäste-Login</button>
        </div>
    </form>
</div>
