<div class="profile-con">
    <div class="dabubble-head">
        <div class="name">{{ userName}}</div>
        <div class="avatar-con">
            <img class="avatar"
                src="{{ userAvatar }}"
                alt="avatar">
            <img class="status" src="assets/images/profile/online_status.png" alt="status">
        </div>
        <div class="arrow-con">
            <img class="default-arrow-down" src="assets/images/arrow_down.png" alt="arrowdown">
            <img class="hover-arrow-down" src="assets/images/arrow_down_purple.png" alt="arrowdown">
        </div>
    </div>
</div>
