<div class="userProfile-con">

    <div class="profile-menu">
        <div class="popup-profile-header">
            <div class="heading">Profil</div>
            <div class="close" (click)="closeProfile()"><img src="assets/images/close.png" alt="close"></div>
        </div>
        <div class="popup-profile-content">
            <div class="avatar-con"><img class="avatar" src="{{ userAvatar }}" alt="avatar"></div>
            <div class="name">{{ userName }}</div>
            <div class="status"><img src="assets/images/profile/online_status.png" alt="status">Aktiv</div>
            <div class="mail-con" *ngIf="!guest">
                <div class="mail-head"><img src="assets/images/login/mail.png" alt="mail">E-Mail-Adresse</div>
                <div class="mail">{{ userMail }}</div>
            </div>
            <div class="login-button-con">
                <button class="login" (click)="sendMessage()"><img src="assets/images/profile/mode_comment.png">Nachricht</button>
            </div>
        </div>
    </div>
    <div class="bg" (click)="closeProfile()"></div>
</div>
