.channels-con
    width: 100%
    height: calc( 100vh - 220px )
    background: #fff
    padding: 32px 30px
    border-radius: 30px

.sroll
    max-height: calc( 100% - 50px )
    overflow-y: scroll
    overflow-x: hidden
    &::-webkit-scrollbar-track
        background: transparent
    &::-webkit-scrollbar-thumb
        background: #535AF1
        border-radius: 10px
    &::-webkit-scrollbar
        width: 5px 

.header
    display: flex
    justify-content: space-between
    align-items: center
    .channelimg
        img
            width: 60px
            height: 60px
    .head
        font-size: 24px
        font-weight: 700
    .newmessage
        background-image: url('/assets/images/channel/edit_square.png')
        width: 30px
        height: 30px
        cursor: pointer
        object-fit: cover
        background-repeat: no-repeat
        &:hover
            background-image: url('/assets/images/channel/edit_square_hover.png')

.channels
    margin: 20px 0
    .head
        position: relative
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 20px
        .left-head
            cursor: pointer
            display: flex
            align-items: center
            gap: 10px
            font-size: 20px
            font-weight: 700
            .workspace
                width: 24px
                height: 24px
                background-image: url('/assets/images/channel/workspaces.png')
            .users
                width: 24px
                height: 24px
                background-image: url('/assets/images/channel/account.png')
            .arrow
                width: 24px
                height: 28px
                background-image: url('/assets/images/channel/arrow.png')
            &:hover
                color: #535AF1
                .users
                    background-image: url('/assets/images/channel/account_hover.png')
                .workspace
                    background-image: url('/assets/images/channel/workspaces_hover.png')
                .arrow
                    background-image: url('/assets/images/channel/arrow_hover.png')

        .right-head
            cursor: pointer
            font-size: 30px
            font-weight: 700
            padding: 0 13px 2px 13px
            position: absolute
            right: 0
            &:hover
                border-radius: 50%
                background-color: #ECEEFE
                color: #535AF1

.channel
    margin-left: 18px
    display: flex
    align-items: center
    font-size: 18px
    padding: 4px 20px
    border-radius: 20px
    cursor: pointer
    .tag
        margin-right: 14px
        font-size: 24px
        font-weight: 700
    &:hover
        color: #535AF1
        background-color: #ECEEFE

.createchannel
    margin: 15px 0
    margin-left: 34px
    display: flex
    align-items: center
    cursor: pointer
    gap: 10px
    font-size: 18px
    margin-bottom: 25px

    .createimg
        background-image: url('/assets/images/channel/add_circle.png')
        width: 24px
        height: 24px
    &:hover
        font-weight: 700
        color: #535AF1
        .createimg
            background-image: url('/assets/images/channel/add_circle_hover.png')

.user
    margin-left: 10px
    margin-bottom: 10px
    font-size: 18px
    display: flex
    align-items: center
    gap: 15px
    cursor: pointer
    padding: 6px 20px 0 20px
    border-radius: 30px
    &:hover
        color: #535AF1
        background-color: #ECEEFE
    span
        margin-left: -10px
    .avatar
        img
            width: 50px
            height: 50px
            object-fit: cover
            border-radius: 50%

@media  ( max-width: 750px )
    .channels-con
        height: calc( 100vh - 190px )
        border-radius: 30px 30px 0 0
    .header
        .head
            margin: 0

@media  ( max-width: 370px )
    .channels-con
        height: calc( 100vh - 160px )