<div class="login-card-con">
    <div class="heading">Passwort zurücksetzen</div>
    <form #newPasswordForm="ngForm" (ngSubmit)="setNewPassword()">
        <div class="formgroup">
            <div class="input-con">
                <img class="lockimg" src="assets/images/login/lock.png" alt="mail">
                <input type="password" placeholder="Neues Passwort" required [(ngModel)]="newPassword" name="password"
                    #password="ngModel">
                <div class="error-input" *ngIf="password.invalid && (password.dirty || password.touched)">
                    Passwort ist erforderlich.
                </div>
            </div>
        </div>
        <div class="formgroup">
            <div class="input-con">
                <img class="lockimg" src="assets/images/login/lock.png" alt="mail">
                <input type="password" placeholder="Passwort bestätigen" required [(ngModel)]="confirmPassword"
                    name="confirmPassword" #confirmPasswordModel="ngModel">
                <div class="error-input" *ngIf="newPassword !== confirmPassword && confirmPasswordModel.touched">
                    Passwörter stimmen nicht überein.
                </div>
            </div>
        </div>
        <div class="login-button-con">
            <button type="submit" class="login"
                [disabled]="!newPasswordForm.valid || newPassword !== confirmPassword">Passwort ändern</button>
        </div>
    </form>
</div>