@import '@ctrl/ngx-emoji-mart/picker'
body
    margin: 0
    background-color: #ECEEFE
    font-family: 'Nunito Sans', sans-serif
    width: 100vw !important
    &::-webkit-scrollbar-track
        background: transparent !important
    &::-webkit-scrollbar-thumb
        background: #535AF1 !important
        border-radius: 10px !important
    &::-webkit-scrollbar
        width: 5px !important

/* Login / Register Form*/
.login-card-con
    background-color: #fff
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08)
    border-radius: 30px
    width: 500px
    padding: 50px
    display: flex
    align-items: center
    flex-direction: column
    margin-top: 80px

.heading
    color: #444df2
    font-size: 46px
    font-weight: 700
    margin-bottom: 20px

.text
    font-size: 20px
    text-align: center
    margin-bottom: 40px

.input-con
    display: flex
    align-items: center
    width: 100%
    position: relative
    input
        background-color: #ECEEFE
        width: 100%
        border-radius: 30px
        padding: 18px 10px 18px 60px
        border: unset
        font-size: 18px
        font-weight: 500
        color: #686868
        &:focus
            outline-color: #797ef3
    img
        position: absolute
    .mailimg
        width: 20px
        height: 16px
        left: 25px
    .lockimg
        width: 16px
        height: 21px
        left: 26px
form
    width: 100%

.formgroup

    width: 100%
    margin-bottom: 35px
    .error-input
        margin: 5px
        position: absolute
        color: #ED1E79
        font-size: 14px

.password-forgot-con
    display: flex
    justify-content: center
    width: 100%
    margin: 10px 0
    .password-forgot
        color: #797EF3
        font-size: 18px
        text-decoration: none
        padding: 6px 12px
        transition: all 155ms ease-in-out
        border-radius: 20px
        &:hover
            color: #444df2
            font-weight: 500
            background-color: #ECEEFE

.vector
    width: 100%
    border-bottom: 1px solid #ADB0D9
    display: flex
    justify-content: center
    margin: 40px 0
    p
        font-size: 18px
        text-transform: uppercase
        position: absolute
        margin-top: -13px
        padding: 0 8px
        background-color: #fff

.google-login-con
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    background-color: #ECEEFE
    border-radius: 30px
    border: unset
    font-size: 18px
    font-weight: 500
    color: #444df2
    font-weight: 300
    height: 55px
    text-decoration: none
    cursor: pointer
    img
        margin: 0 10px
        width: 35px
    &:hover
        font-weight: 400
        width: calc( 100% - 2px )
        height: calc( 55px - 2px )
        border: 1px solid #797ef3

.login-button-con
    width: 100%
    display: flex
    justify-content: center
    gap: 30px
    margin-top: 40px
    button
        font-size: 18px
        font-weight: 700
        padding: 12px 25px
        transition: all 155ms ease-in-out
        cursor: pointer
        border-radius: 30px
    .login
        color: #fff
        background-color: #444DF2
        border: 1px solid #444DF2
        &:hover
            background-color: #797ef3
            border: 1px solid #797ef3
        &:disabled
            background-color: #686868
            border: 1px solid #686868

    .guest
        background-color: #fff
        border: 1px solid
        color: #797ef3
        &:hover
            color: #fff
            background-color: #444DF2
            border: 1px solid #444DF2

// chats
.chat-con
    width: 100%
    height: calc( 100dvh - 157px )
    border-radius: 30px
    background-color: #fff
    overflow: hidden
.chat-head
    display: flex
    align-items: center
    width: 100%
    height: 30px
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08)
    padding: 30px
    .chat-heading
        cursor: pointer
        position: relative
        font-weight: 700
        font-size: 24px
        display: flex
        align-items: center
        gap: 10px
        padding: 2px 45px 2px 15px
        border-radius: 20px
        img
            width: 70px
            height: 70px
            object-fit: cover
            border-radius: 50%
        .arrowimg
            position: absolute
            right: 7px
            top: 5px
            width: 33px
            height: 33px
            background-image: url('/assets/images/arrow_down.png')
        &:hover
            background-color: #ECEEFE
            color: #535AF1
            .arrowimg
                background-image: url('/assets/images/arrow_down_purple.png')
.buttons
    position: relative
    z-index: 70
    bottom: 70px
    display: flex
    gap: 20px
    right: 70px
    cursor: pointer
    .btn
        position: absolute
        right: 0
        top: 30px
        &:hover
            color: #535AF1
            font-weight: 600
    .btn2
        right: 100px
.error
    color: #ED1E79
    margin-left: 30px
    position: absolute

.input-chat
    width: 100%
    height: 145px
    padding: 0 30px 30px 30px
    position: relative
    margin-top: -40px
    textarea
        font-family: 'Nunito Sans', sans-serif
        font-size: 20px
        resize: none
        padding: 15px 15px 30px 15px
        width: calc( 100% - 90px )
        height: calc( 100% - 80px )
        border-radius: 20px
        border: 1px solid #ADB0D9
    .chat-icons
        justify-content: space-between
        display: flex
        width: calc( 100% - 130px )
        .left-icons
            position: absolute
            top: 70px
            left: 37px
            display: flex
            align-items: center
            gap: 5px
            background-color: #fff
            border-radius: 20px
        .vector-send
            border-right: 1px solid #ADB0D9
            height: 25px
            width: 2px
        .attachment-send
            cursor: pointer
            padding: 1px
            border-radius: 50%
            div
                width: 30px
                height: 30px
                background-image: url(/assets/images/chat/add.png)
                background-repeat: no-repeat
                background-position: center
            &:hover
                background-color: #ECEEFE
                div
                    background-image: url(/assets/images/chat/add_hover.png)
        .emoji-send
            cursor: pointer
            padding: 1px
            border-radius: 50%
            div
                width: 30px
                height: 30px
                background-image: url(/assets/images/chat/sentiment_satisfied.png)
                background-repeat: no-repeat
                background-position: center
            &:hover
                background-color: #ECEEFE
                div
                    background-image: url(/assets/images/chat/sentiment_satisfied_hover.png)
        .users-send
            cursor: pointer
            padding: 1px
            border-radius: 50%
            div
                width: 30px
                height: 30px
                background-image: url(/assets/images/chat/alternate_email.png)
                background-repeat: no-repeat
                background-position: center
            &:hover
                background-color: #ECEEFE
                div
                    background-image: url(/assets/images/chat/alternate_email_hover.png)

        .send-icon
            position: absolute
            bottom: 80px
            right: 100px
            cursor: pointer
            width: 24px
            height: 24px
            background-image: url('/assets/images/chat/send.png')
            &:hover
                background-image: url('/assets/images/chat/send_hover.png')

.frequent
    display: flex
    justify-content: center
    align-content: center
    font-size: 20px
.date
    margin-bottom: 40px
    position: relative
    border-bottom: 1px solid #ADB0D9
    display: flex
    justify-content: center
    width: calc( 100% - 60px )
    margin-left: 30px
.date-label
    top: -16px
    background-color: #fff
    position: absolute
    padding: 5px 15px
    border-radius: 30px
    border: 1px solid #ADB0D9

.reactions
    background: #fff
    border: 1px solid #ADB0D9
    border-radius: 25px 25px 25px 0
    padding: 5px 10px
    align-items: center
    justify-content: center
    position: absolute
    gap: 4px
    top: -20px
    display: none
    .reaction
        cursor: pointer
        width: 25px
        height: 25px
        background-repeat: no-repeat
        background-size: 60%
        background-position: center
        padding: 3px
        border-radius: 50%
        &:hover
            background-color: #ECEEFE
    .emoji
        background-image: url(/assets/images/chat/reaction/add_reaction.png)
        &:hover
            background-image: url(/assets/images/chat/reaction/add_reaction-hover.png)
    .answer
        background-image: url(/assets/images/chat/reaction/comment.png)
        &:hover
            background-image: url(/assets/images/chat/reaction/comment-hover.png)
    .option
        background-image: url(/assets/images/chat/reaction/more_vert.png)
        &:hover
            background-image: url(/assets/images/chat/reaction/more_vert-hover.png)

.overlay
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    z-index: 1000

.reaction-con
    display: flex
    align-items: center
    position: absolute
    right: 90px
    font-size: 20px
    margin-top: 5px
    gap: 5px
    flex-direction: row-reverse
    span
        font-size: 17px
.reaction-you
    right: unset !important
    left: 90px
    flex-direction: row
    .hover-reaction-con
        left: 25px !important
        border-radius: 30px 30px 30px 0 !important
.user-reaction
    border: 1px solid #ADB0D9
    border-radius: 20px
    padding: 3px 10px
    background: #fff
    cursor: pointer
    position: relative
    &:hover
        border: 1px solid #535AF1
        .hover-reaction-con
            display: flex
.button
    cursor: pointer
    width: 22px
    height: 22px
    margin: 5px
    background-repeat: no-repeat
    background-size: 100%
    background-position: center
    border-radius: 50%
    background-image: url(/assets/images/chat/reaction/add_reaction.png)
    &:hover
        background-image: url(/assets/images/chat/reaction/add_reaction-hover.png)

.reaction-active
    border: 1px solid #6fc867
    color: #567e51
    &:hover
        border: 1px solid #ED1E79
        color: #ED1E79

.hover-reaction-con
    position: absolute
    bottom: 34px
    left: -135px
    padding: 15px 30px
    border-radius: 30px 30px 0 30px
    gap: 5px
    display: none
    align-items: center
    justify-content: center
    flex-direction: column
    background-color: #444DF2
    width: 110px
    z-index: 2
    .emoji
        font-size: 34px
    .users
        font-size: 17px
        color: #fff
        font-weight: 700
        text-align: center
    .text
        font-size: 16px
        color: #fff
        margin: 0

.edit-message-popup
    background-color: #fff
    padding: 5px 15px
    border-radius: 0 20px 20px 20px
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08)
    position: absolute
    left: calc( 100% - 25px )
    top: calc( 100% - 20px )
    cursor: pointer
    z-index: 1000000
    textarea
        z-index: 1000
    &:hover
        color: #535AF1
        font-weight: 600

.message
    display: flex
    gap: 10px
    padding: 10px 30px 45px 30px
    position: relative
    .reactions
        right: 30px
    .avatar
        img
            height: 50px
            width: 50px
            object-fit: cover
            border-radius: 50%
    .message-content
        .name-time
            display: flex
            gap: 10px
            align-items: center
            .name
                cursor: pointer
                font-size: 18px
                font-weight: 700
                &:hover
                    color: #535AF1
            .time
                font-size: 14px
                color: #686868
        .msg
            display: inline-block
            background: #ECEEFE
            padding: 10px 15px
            border-radius: 0 30px 30px 30px
            word-wrap: break-word !important
            max-width: 50vw
    &:hover
        background-color: #ECEEFE
        .reactions
            display: flex !important
        .msg
            background: #fff
.message-you
    justify-content: flex-start
    flex-direction: row-reverse
    text-align: end
    .reactions
        left: 30px
        right: unset !important
    .message-content-you
        justify-content: flex-end
        flex-direction: column
        .name-time-you
            flex-direction: row-reverse !important
            justify-content: flex-start !important
        .msg-you
            background-color: #535AF1
            color: #fff
            display: inline-block
            text-align: end !important
            border-radius: 30px 0 30px 30px !important
    &:hover
        background-color: #ECEEFE

input[type="file"]
    display: none

.username
    background-color: yellow
    color: #000
    cursor: pointer

.link-user-con
    position: relative

.message-image
    max-width: 100%
    max-height: 350px
    border-radius: 20px
    padding-top: 5px !important
.message-pdf
    color: #fff
.message-content
    a
        display: inline-block
    .msg
        .message-pdf
            color: #000
    .msg-you
        .message-pdf
            color: #fff

.file-con-upload
    margin-top: -25px
    z-index: 2
.upload-progress-bar
    background-color: #f3f3f3
    border-radius: 2px
    position: relative
    height: 5px
    width: 100%

.upload-progress
    background-color: #535AF1
    height: 100%
    width: 0%
    border-radius: 2px
    transition: width 0.5s ease-in-out
.files
    position: relative
    width: 100%
    height: 40px
    .file-con
        top: -42px
        position: absolute
        background: #fff
        border-radius: 30px
        display: flex
        align-items: center
        padding: 5px 12px 5px 12px
        border: 1px solid #535AF1
        left: 30px
        gap: 5px
        z-index: 2
        .delete
            font-size: 22px
            cursor: pointer
            &:hover
                color: #535AF1
                font-weight: 700
        &:hover
            font-weight: 600
            background-color: #ECEEFE

@media ( max-width: 1300px )
    .chat-con
        margin-left: 0px !important
    .chat-icons
        .send-icon
            position: absolute
            bottom: 100px
            right: 100px
            cursor: pointer
    .message-image
        max-width: 100% !important
        max-height: 300px

        margin: 0 !important
@media ( max-width: 800px )
    .avatar
        img
            height: 40px !important
            width: 40px !important
        .name
            font-size: 14px !important
        .time
            font-size: 12px !important

@media  ( max-width: 750px )
    .chat-con
        width: 100vw
        margin-left: -30px !important
        height: calc( 100dvh - 75px )
        border-radius: 30px 30px 0 0
    .back
        display: unset
    .chat-icons
        .send-icon
            right: 100px !important
            bottom: 100px !important
@media ( max-width: 650px )
    .login-card-con
        width: calc( 100vw - 100px ) !important
        padding: 25px
    .heading
        font-size: 32px
    .text
        font-size: 17px
    .input-con
        input
            font-size: 14px
    .login-button-con
        gap: 10px

@media ( max-width: 420px )
    .formgroup
        margin-bottom: 20px
    .error-input
        margin: 0 5px !important
        font-size: 13px !important
